{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    {% include "components/meta.html" %}
    <script
      src="{% static 'components/js/build/createQuestions1.min.js' %}"
      defer="true"
    ></script>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="question-app"></div>

    {% csrf_token %}
  </body>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const navigationApp = () => {
        return navigation.h(navigation.App, {
          groups:[
            [
              {title: "Search", icon: "search", url: "/"},
              {title: "Dashboard", icon: "dashboard", url: "/"},
            ],
            [
              {title: "Questions", icon: "forum", url: "/"},
              {title: "Assignments", icon: "assignment", url: "/"},
              {title: "Collections", icon: "collections_bookmark", url: "/"}
            ],
            [
              {title: "Student Activity", icon: "notifications", url: "/"},
              {title: "Group 1", icon: "groups", url: "/"},
              {title: "Group 2", icon: "groups", url: "/"},
              {title: "Group 3", icon: "groups", url: "/"},
              {title: "Manage groups", icon: "settings", url: "/"},
            ],
            [
              {title: "CourseFlow", icon: "account_tree", url: "/"},
            ]
          ],
          logo: "../static/components/img/logo.png",
          nonce: "{{ request.csp_nonce }}",
          user: {
            username: "jsumner",
            name: "John",
            avatar: "../static/components/img/avatar.jpg",
          }
        });
      };
      navigation.render(
        navigationApp(),
        document.getElementById("navigation-app")
      );

      const createQuestions1App = () => {
        return createQuestions1.h(createQuestions1.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
        });
      };
      createQuestions1.render(
        createQuestions1App(),
        document.getElementById("question-app")
      );
    });
  </script>
</html>
