{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    {% include "components/meta.html" %}
    <script
      src="{% static 'components/js/build/dashboardStudent.min.js' %}"
      defer="true"
    ></script>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="dashboard-app"></div>

    {% csrf_token %}
  </body>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {

      {% include './navigationJS.html' %}

      const dashboardStudentApp = () => {
        return dashboardStudent.h(dashboardStudent.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          user: {
            username: "jsumner",
            name: "John",
            avatar: "../static/components/img/avatar.jpg",
          }
        });
      };
      dashboardStudent.render(
        dashboardStudentApp(),
        document.getElementById("dashboard-app")
      );
    });
  </script>
</html>
