{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cardo:400i&display=swap"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400&display=swap"
      type="text/css"
    />

    <script
      src="{% static 'components/js/build/navigation.min.js' %}"
      defer="true"
    ></script>

    <script
      src="{% static 'components/js/build/dashboard.min.js' %}"
      defer="true"
    ></script>

    <script
    src="{% static 'components/js/build/search.min.js' %}"
    defer="true"
  ></script>

    <style nonce="{{ request.csp_nonce }}">
      html {
        background-color: #EDF5FC;
      }
      .cardo {
        font-family: "Cardo";
      }
      .montserrat {
        font-family: "Montserrat";
      }
    </style>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="dashboard-app"></div>

    {% csrf_token %}
  </body>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      const navigationApp = () => {
        return navigation.h(navigation.App, {
          groups:[
            [
              {title: "Search", icon: "search", url: "/"},
              {title: "Dashboard", icon: "dashboard", url: "/"},
            ],
            [
              {title: "Questions", icon: "forum", url: "/"},
              {title: "Assignments", icon: "assignment", url: "/"},
              {title: "Collections", icon: "collections_bookmark", url: "/"}
            ],
            [
              {title: "Student Activity", icon: "notifications", url: "/"},
              {title: "Group 1", icon: "groups", url: "/"},
              {title: "Group 2", icon: "groups", url: "/"},
              {title: "Group 3", icon: "groups", url: "/"},
              {title: "Manage groups", icon: "settings", url: "/"},
            ],
            [
              {title: "CourseFlow", icon: "account_tree", url: "/"},
            ]
          ],
          logo: "../static/components/img/logo.png",
          nonce: "{{ request.csp_nonce }}",
          user: {
            username: "jsumner",
            name: "John",
            avatar: "../static/components/img/avatar.jpg",
          }
        });
      };
      navigation.render(
        navigationApp(),
        document.getElementById("navigation-app")
      );

      const dashboardApp = () => {
        return dashboard.h(dashboard.App, {
          assigments: [
            {
              title: "Assigment 1",
              autor: "MySelf",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              distributionState: "Distributed",
              difficulty: "Easy",
              questions: [
                {
                  title: "Question 1",
                  autor: "autor 1",
                  difficulty: "Easy",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  autor: "autor 2",
                  difficulty: "Easy",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  autor: "autor 3",
                  difficulty: "Moderate",
                  description: "Description 3",
                },
              ],
            },
            {
              title: "Assigment 2",
              autor: "Someone",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              distributionState: "Distributed",
              difficulty: "Difficult",
              questions: [
                {
                  title: "Question 1",
                  autor: "autor 1",
                  difficulty: "Difficult",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  autor: "autor 2",
                  difficulty: "Difficult",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  autor: "autor 3",
                  difficult: "Easy",
                  description: "Description 3",
                },
              ],
            },
          ],
          collections: [
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
          ],
          groups: [
            {
              title: "Group Bio 1",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
              dueDate: "2022-11-11",
              progress: 53,
            },
            {
              title: "Group Bio 2",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
              dueDate: "2022-12-12",
              progress: 4,
            },
          ],
          questions: [
            {
              title: "Principles of inheritance",
              autor: "John Peterson",
              tags: ["Biology", "Cohesion"],
              difficulty: "Moderate",
              peerImpact: 1,
            },
            {
              title: "Principles of inheritance",
              autor: "John Peterson",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology", "Cohesion"],
              difficulty: "Difficult",
              peerImpact: 2,
            },
            {
              title: "Question 2",
              autor: "Autor 3",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. ",
              tags: ["Biology", "Cohesion","tag3"],
              difficulty: "Easy",
              peerImpact: 3,
            },
          ],
          nonce: "{{ request.csp_nonce }}",
          user: {
            username: "jsumner",
            name: "John",
            avatar: "../static/components/img/avatar.jpg",
          }
        });
      };
      dashboard.render(
        dashboardApp(),
        document.getElementById("dashboard-app")
      ); 

      const searchApp = () => {
        return search.h(search.App, {
          assigments: [
            {
              title: "Assigment 1",
              autor: "MySelf",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              DistributionState: "Distributed",
              questions: [
                {
                  title: "Question 1",
                  autor: "autor 1",
                  level: "easy",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  autor: "autor 2",
                  level: "easy",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  autor: "autor 3",
                  level: "easy",
                  description: "Description 3",
                },
              ],
            },
            {
              title: "Assigment 1",
              autor: "MySelf",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              DistributionState: "Distributed",
              questions: [
                {
                  title: "Question 1",
                  autor: "autor 1",
                  level: "easy",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  autor: "autor 2",
                  level: "easy",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  autor: "autor 3",
                  level: "easy",
                  description: "Description 3",
                },
              ],
            },
          ],
          collections: [
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
          ],
          groups: [
            {
              title: "Group Bio 1",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
            },
            {
              title: "Group Bio 2",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
            },
          ],
          questions: [
            {
              title: "Principles of inheritance",
              autor: "John Peterson",
              description: "",
              tags: ["Biology", "Cohesion"],
              difficulty: "Easy",
              peerImpact: 1,
            },
            {
              title: "Principles of inheritance",
              autor: "John Peterson",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology", "Cohesion"],
              difficulty: "Medium",
              peerImpact: 2,
            },
          ],
          nonce: "{{ request.csp_nonce }}",
        });
      };
    /*  search.render(
        searchApp(),
        document.getElementById("search-app")
      );*/
    });
  </script>
</html>
