{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    {% include "components/meta.html" %}
    <script
      src="{% static 'components/js/build/dashboard.min.js' %}"
      defer="true"
    ></script>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="dashboard-app"></div>

    {% csrf_token %}
  </body>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      {% include './navigationJS.html' %}

      const dashboardApp = () => {
        return dashboard.h(dashboard.App, {
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
          urls: {
            assignments: "/",
            collections: "/",
            questions: "/",
          },
          user: {
            username: "jsumner",
            avatar: "../static/components/img/avatar.jpg",
          }
        });
      };
      dashboard.render(
        dashboardApp(),
        document.getElementById("dashboard-app")
      );
    });
  </script>
</html>
