{% load static %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Cardo:400i&display=swap"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat:400&display=swap"
  type="text/css"
/>

<script
  src="{% static 'components/js/build/navigation.min.js' %}"
  defer="true"
></script>

<script src="{% url 'javascript-catalog' %}"></script>

<style nonce="{{ request.csp_nonce }}">
  html {
    background-color: #EDF5FC;
  }
  .cardo {
    font-family: "Cardo";
  }
  .montserrat {
    font-family: "Montserrat";
  }
</style>
