{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    {% include "components/meta.html" %}
    <script
      src="{% static 'components/js/build/search.min.js' %}"
      defer="true"
    ></script>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="search-app"></div>

    {% csrf_token %}

    {% include './navigationJS.html' %}

    <script nonce="{{ request.csp_nonce }}">
      window.addEventListener("load", function () {
        const searchApp = () => {
          return search.h(search.App, {
            gettext: gettext,
            nonce: "{{ request.csp_nonce }}",
          });
        };
        search.render(
          searchApp(),
          document.getElementById("search-app")
        );
      });
    </script>
  </body>
</html>
