{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  <head>
    {% include "components/meta.html" %}
    <script
      src="{% static 'components/js/build/search.min.js' %}"
      defer="true"
    ></script>
  </head>
  <body>
    <div id="navigation-app"></div>

    <div id="search-app"></div>

    {% csrf_token %}
  </body>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function () {
      {% include './navigationJS.html' %}

      const searchApp = () => {
        return search.h(search.App, {
          assigments: [
            {
              title: "Assigment 1",
              autor: "MySelf",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              DistributionState: "Distributed",
              questions: [
                {
                  title: "Question 1",
                  author: "autor 1",
                  level: "easy",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  author: "autor 2",
                  level: "easy",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  author: "autor 3",
                  level: "easy",
                  description: "Description 3",
                },
              ],
            },
            {
              title: "Assigment 1",
              autor: "MySelf",
              creationDate: "12 Nov",
              dueDate: "30 Nov",
              DistributionState: "Distributed",
              questions: [
                {
                  title: "Question 1",
                  author: "autor 1",
                  level: "easy",
                  description: "Description 1",
                },
                {
                  title: "Question 2",
                  author: "autor 2",
                  level: "easy",
                  description: "Description 2",
                },
                {
                  title: "Question 3",
                  author: "autor 3",
                  level: "easy",
                  description: "Description 3",
                },
              ],
            },
          ],
          collections: [
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
            {
              title: "A collection title",
              autor: "Saltise",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology"],
            },
          ],
          groups: [
            {
              title: "Group Bio 1",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
            },
            {
              title: "Group Bio 2",
              session: "Summer 2022",
              subject: "Biology",
              numberStudent: "30",
              difficulty: "Easy",
              statut: "Active",
            },
          ],
          questions: [
            {
              title: "Principles of inheritance",
              author: "John Peterson",
              description: "",
              tags: ["Biology", "Cohesion"],
              difficulty: "Easy",
              peerImpact: 1,
            },
            {
              title: "Principles of inheritance",
              author: "John Peterson",
              description:
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.",
              tags: ["Biology", "Cohesion"],
              difficulty: "Moderate",
              peerImpact: 2,
            },
          ],
          gettext: gettext,
          nonce: "{{ request.csp_nonce }}",
        });
      };
      search.render(
        searchApp(),
        document.getElementById("search-app")
      );
    });
  </script>
</html>
