include LICENSE
include README.rst
include components/static/components/img/*
include components/static/components/js/build/*.min.js
exclude components/urls_test.py
exclude components/views_test.py
exclude components/settings.py
